<% layout('./layout/page.ejs') %>
   <
         <% if(user.length > 0) {%>
            <h1><%= user[0].username %>
            </h1>
            <% } else { %>
               <h1>Зарегистрируйтесь, чтобы видеть все страницы сайта</h1>
               <% } %>
         Счетчик: <%= counter %>
      </div>
   </div>