<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
  <nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <% if(typeof nav == 'object' && nav){ nav.forEach(function(marci){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/marcis/<%=marci.nick%>"><%=marci.title%></a>
                </li>
                    <% })} %>
                    <div class="navbar-nav ms-auto nav navbar-nav navbar-right">
                        <%if (user.length > 0) { %>
                          <form action="/logout" method="post">
                            <button type="submit" class="nav__btn nav-item nav-link">Выйти</button>
                          </form>
                          <% } else { %>
                            <a href="/logreg" class="nav-item nav-link">Войти</a>
                            <% } %>
                      </div>
                </ul>
            </ul>
        </div>
        </nav>
<%- body %>
</body>
</html>